{{ partial "header" . }}

<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Learn to Make Money <br> Trading Bitcoin</h1>
      <h3>Day Trading Strategies That Work</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <button>Download Free Trading Tips</button>
        </li>
        <li class="list-inline-item">
          <button>Buy the Book</button>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Not sure what goes here yet</h2>
        <p class="lead">Bitcoin is currently trading as an unregulated free market. It is free from the FTC, the CFTC, the SEC, the NYSE, the CME and the host of other regulatory agencies. As such, the trading patterns of Bitcoin are pure, raw, and emotional.</p>
      </div>
    </div>

  </div>
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">There is both good and bad with raw emotional trading.</h2>
        <p class="lead">The Bad: Bitcoin markets are extremely volatile and can turn in an instant.</p>
        <p class="lead">The Good: Bitcoin markets are very predictable, because human beings are very predictable.</p>
      </div>
    </div>

  </div>

</section>
<!-- /.content-section-b -->

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 mr-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <p class="lead">As 15+ year S&amp;P futures traders, we recognize the PATTERNS in raw emotional trading. We teach you to become a better more successful trader by using these powerful Bitcoin day trading strategies.</p>
        <p>On November 22, 2013 after Bitcoin reached a then record high of over $1,200 usd, we publicly predicted at a Washington, DC Bitcoin meetup, that Bitcoin would trade below $500 in the near future. We were ridiculed, but then, just twenty days later on December 17, Bitcoin reached a low of $455. Since our order to buy at $500 had already been placed our trade was executed overnight while we slept.</p>
        <p>*** Caution ***Since bitcoin’s latest pullback below $300, volume has evaporated unacceptably. Successful trading requires adequate volume. It is the volume created by large numbers of traders which create the predictable patterns. We are currently flat as traders and do not expect to resume trading until volume increases. Trading without volume is gambling and we don’t gamble.</p>
        <p>***Update August 2017*** Bitcoin volume and other internal indicators are signaling a predictable trading period entry. Your patience will soon be rewarded. Our simulation testing and back testing models are nearly complete and we are approaching 75% accuracy with a target range of 80-85%.</p>
      </div>
    </div>

  </div>

</section>
<!-- /.content-section-b -->

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 mr-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <button>Download Free Trading Tips</button>
        <p>If you have traded or want to trade Bitcoin, DO NOT make another trade until you read this!</p>
        <p>It’s Time You Learn How to Trade the Professional Way</p>
        <p>You can learn to use Bitcoin day trading strategies like this too!</p>

        <p class="lead">The Pro Bitcoin Trading Manual</p>
        <p>Now Available. Absolutely, no more than 250 electronic copies will be made public. The manual is only 0.55 BTC with immediate PDF download. You can easily earn that in a single trade using the valuable information revealed in this manual.</p>
        <button>Buy the Book</button>

        <p class="lead">Bitcoin Trade Consulting</p>
        <p>As an additional service, we offer individual 1 hour telephone consultations. The sessions are available for only 0.75 BTC. <a href="mailto:consulting@probitcointrading.com">Contact us</a> if you would like one on one live coaching in implementing the strategies in this manual. (sorry, English only at this time)</p>
        <button>Download Free Trading Tips</button>

        <p class="lead">Bitcoin Trading Chat Room</p>
        <p>* Coming Soon * In the chat room, we exclusively discuss the Bitcoin market movements, patterns, and trading opportunities. The Bitcoin markets are not like other markets as they are the only truly free market. When we are trading, you will know what we trade, when we trade, and you have a chance to chat with other professional traders while trading. Chat room membership is 0.1 BTC per month billed quarterly.</p>
      </div>
    </div>

  </div>

</section>
<!-- /.content-section-a -->

<section class="content-section-a">

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <blockquote class="blockquote">
        <p class="mb-0">I was skeptical at first because all the trading sites claim to have some secret formula for trading. I purchased the manual and found that this is not a get rich quick scheme. It is a simple method to trade the Bitcoin market based on predictable patterns. Now my trading is far less frantic. I only trade when the markets give me a signal, and I’m not jumping in and out repeatedly. I have only made three trades so far and all three have been profitable.</p>
        <footer class="blockquote-footer"><cite title="Source Title">R.B.</cite></footer>
      </blockquote>
    </div>
    <div class="col-xs-12 col-md-6">
      <blockquote class="blockquote">
        <p class="mb-0">When I downloaded the book I was surprised at how little attention was given to money. The book is about techniques and strategies, not about money. When you properly execute the strategies, the money will come. Now I know why I lost money trading in the past and I will never make those same mistakes again.</p>
        <p class="mb-0">I highly recommend anyone who is considering trading Bitcoin to get this book.</p>
        <footer class="blockquote-footer"><cite title="Source Title">J.M.</cite></footer>
      </blockquote>
    </div>
  </div>

</div>

</section>
<!-- /.content-section-b -->

{{ partial "footer" . }}
